.chat-page,
.chat-container {
    display: flex;
    height: 100vh;
}

.chat-container {
    flex-direction: column;
    flex-grow: 1;
    width: 80%;
    background: #121212;
    justify-content: space-between;
    position: relative;
}

.greeting {
    margin: 450px auto 0 auto;
    /* 上：450px，右：自动，下：0，左：自动 */
    color: #fff;
    font-size: 30px;
}

.messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 0 10px;
}

.message {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 10px;
    border-radius: 12px;
    color: white;
    word-wrap: break-word;
    position: relative;
    background: #f9f9f9;
}

.code-block {
    background: #282c34;
    /* 暗色背景，代码消息 */
    color: #abb2bf;
    /* 浅灰色文本，代码消息 */
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    /* 上下边距 */
    font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
    overflow-x: auto;
    /* 如果代码很长，需要滚动 */
}

.fa-user,
.fa-robot {
    font-size: 2em;
}

.fa-user {
    margin-right: auto;
}

.assistant {
    max-width: 50%;
    justify-content: flex-start;
    align-self: flex-start;
    background-color: #007bff;
}

.user {
    max-width: 50%;
    justify-content: flex-end;
    align-self: flex-end;
    background-color: #28a745;
}

.assistant .icon,
.user .icon {
    order: -1;
    margin-right: 10px;
    font-size: 1.2em;
    align-self: flex-start;
}

.timestamp {
    position: absolute;
    bottom: -20px;
    right: 0;
    color: #cccccc;
    font-size: 0.75rem;
    text-align: right;
    /* 时间戳右对齐 */
    padding-right: 15px;
    /* 与消息文本右侧对齐，根据需要调整 */
    margin-top: 2px;
    /* 时间戳与消息文本的间距，根据需要调整 */
}

.input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.input-area textarea {
    width: 750px;
    min-height: 50px;
    max-height: 220px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    resize: none;
    overflow-y: auto;
}

.input-area button.send-button {
    padding: 10px;
    background-color: transparent;
    /* 使按钮透明 */
    border: none;
    cursor: pointer;
}

.input-area button:disabled {
    background-color: #ccc;
    /* 置灰的按钮背景色 */
    cursor: not-allowed;
    /* 鼠标悬停时显示禁用的标志 */
}

.input-area button.clear-conversation {
    padding: 10px;
    background-color: transparent;
    /* 使按钮透明 */
    border: none;
    cursor: pointer;
    color: #fff;
    /* 或其他颜色 */
}

.input-area button.clear-conversation:hover {
    color: #e74c3c;
    /* 鼠标悬停时的颜色 */
}

.input-area .fa-paper-plane {
    color: #28a745;
    /* 图标颜色 */
    font-size: 24px;
    /* 图标大小 */
}

.input-area button.button-disabled {
    background-color: #ccc;
    /* 置灰的按钮背景色 */
    cursor: not-allowed;
    /* 鼠标悬停时显示禁用的标志 */
}

.scroll-to-bottom {
    position: fixed;
    right: 2em;
    /* 距离右侧2em */
    bottom: 2em;
    /* 距离底部2em */
    background-color: #28a745;
    /* 按钮背景颜色 */
    color: white;
    /* 图标颜色 */
    border: none;
    /* 无边框 */
    border-radius: 50%;
    /* 圆形按钮 */
    padding: 0.5em;
    /* 内边距 */
    cursor: pointer;
    /* 鼠标样式 */
    display: flex;
    /* 使用flex布局，方便居中图标 */
    justify-content: center;
    /* 水平居中图标 */
    align-items: center;
    /* 垂直居中图标 */
    z-index: 100;
    /* 确保按钮位于消息列表上方 */
}

.scroll-to-bottom i {
    font-size: 1.5em;
    /* 图标大小 */
}

.verification-area {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(0%, 1250%);
    margin-bottom: 20px;
    /* 与消息区域的间距 */
}

.verification-area input {
    width: 20%;
    /* 输入框宽度 */
    margin-right: 10px;
    /* 输入框和按钮之间的间距 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
}

.verification-area button {
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #28a745;
    /* 按钮背景颜色 */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* 添加过渡效果 */
}

.verification-area button:hover {
    background-color: #1f7a2d;
    /* 鼠标悬停时的背景色 */
}