@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(270deg, blue, red, yellow, green);
    background-size: 800% 800%;
    animation: gradientBackground 15s ease infinite;
    text-align: center;
}

.welcome-title {
    color: transparent;
    font-size: 24px;
    font-weight: bold;
    background-image: linear-gradient(45deg, #6a82fb, #fc5c7d, #fccb90);
    /* 使用鲜艳的彩色渐变 */
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
}

.welcome-title::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: linear-gradient(60deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
    border-radius: 5px;
    animation: rotateGlow 5s linear infinite;
}

@keyframes rotateGlow {

    0%,
    100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }
}

/* Button */
.chat-button,
.img-button,
.radio-button,
.shortvideo-button,
.music-button,
.analyze-button,
.morefill-button{
    position: relative;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: #333;
    transition:
        background-color 0.3s,
        color 0.3s;
    overflow: hidden;
    cursor: pointer;
}

.chat-button:hover,
.img-button:hover,
.radio-button:hover,
.shortvideo-button:hover,
.music-button:hover,
.analyze-button:hover {
    color: #fff;
}

.chat-button::after,
.img-button::after,
.radio-button::after,
.shortvideo-button::after,
.music-button::after,
.analyze-button::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border: 2px solid transparent;
    border-radius: 50%;  /* 使边框成为圆形 */
    box-sizing: border-box;
    animation: rotate 2s linear infinite;
    animation-play-state: paused;
}

.chat-button:hover::after,
.img-button:hover::after,
.radio-button:hover::after,
.shortvideo-button:hover::after,
.music-button:hover::after,
.analyze-button:hover::after{
    border-color: #edeff1;
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

